:root {
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
  --footer: rgba(144, 212, 197, 255);
}

html {
  font-size: 18px;
}

body {
  font-family: "Barlow", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
span {
  font-family: "Fraunces", serif;
}

ul {
  list-style-type: none;
}

li {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
}

/*HEADER SECTION*/

header {
  background-image: url("./images/mobile/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  color: var(--white);
  height: 525px;
}

nav {
  display: flex;
  align-items: center;
  padding: 20px 20px 0 20px;
}

.menu {
  display: none;
  background-color: var(--white);
  color: var(--dark-grayish-blue);
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 90px;
  right: 20px;
  width: 335px;
  height: 350px;
}

.menu:after {
  content: " ";
  position: absolute;
  top: -20px;
  right: 0px;
  border-bottom: 50px solid white;
  border-left: 50px solid transparent;
}

.menu li {
  margin: 20px 0;
}

.menu li:last-of-type {
  font-family: "Fraunces", serif;
  background-color: var(--yellow);
  padding: 15px 25px;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: black;
}

.grow {
  flex-grow: 1;
}

.text-align {
  text-align: center;
}

.header-title {
  font-size: 2.4rem;
  text-align: center;
  padding: 0 20px 0 20px;
  margin-top: 100px;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.arrow-image {
  width: 9%;
  align-self: center;
}

/*TRANSFORM SECTION & STAND OUT SECTION*/

.section-transform {
  display: flex;
  flex-direction: column-reverse;
}

.section-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg {
  height: 300px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.egg-bg {
  background-image: url("./images/mobile/image-transform.jpg");
}

.section-transform h2,
.section-stand-out h2 {
  margin: 50px 0 30px 0;
  font-weight: 900;
  padding: 0 50px 0 50px;
}

.section-transform p,
.section-stand-out p {
  color: var(--dark-grayish-blue);
  padding: 0 30px 0 30px;
}
.section-transform span,
.section-stand-out span {
  position: relative;
  margin: 30px 0 50px 0;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.section-transform span::after,
.section-stand-out span::after {
  content: " ";
  opacity: 0.3;
  width: 105px;
  height: 10px;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: 0;
  z-index: -1;
}

.section-transform span::after {
  background-color: var(--yellow);
}

.section-stand-out span::after {
  background-color: var(--soft-red);
}

.cup-bg {
  background-image: url("./images/mobile/image-stand-out.jpg");
}

/*DESIGN & PHOTOGRAPHY SECTIONS*/

.design-photog-section {
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cherry-bg {
  background-image: url("./images/mobile/image-graphic-design.jpg");
  color: var(--dark-desaturated-cyan);
}

.orange-bg {
  background-image: url("./images/mobile/image-photography.jpg");
  color: var(--dark-blue);
}

.graphic-design-photography p {
  margin: 20px 0 50px 0;
  padding: 0 20px 0 20px;
  font-size: 0.9rem;
}

/*TESTIMONIALS*/

.section-testimonials,
.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials-header {
  color: var(--grayish-blue);
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 50px 0 30px 0;
}

.testimonial {
  margin-bottom: 50px;
}

.testimonials img {
  border-radius: 50%;
  width: 70px;
}

.testimonial p {
  color: var(--very-dark-grayish-blue);
  font-size: 0.9rem;
  padding: 0 30px;
  margin: 20px 0;
}

.testimonials h6 {
  margin-top: 5px;
  color: var(--grayish-blue);
}

/* Gallery */

.gallery {
  height: 187px;
  width: 50%;
  background-position: center;
  background-size: 100%;
}

.gallery-section {
  display: flex;
  flex-wrap: wrap;
}

.bottles-bg {
  background-image: url("./images/mobile/image-gallery-milkbottles.jpg");
}

.orange-plate-bg {
  background-image: url("./images/mobile/image-gallery-orange.jpg");
}

.cone-bg {
  background-image: url("./images/mobile/image-gallery-cone.jpg");
}

.sugar-cubes-bg {
  background-image: url("./images/mobile/image-gallery-sugar-cubes.jpg");
}

/* ABOUT SECTION */

.about-section {
  background-color: var(--footer);
  color: var(--dark-moderate-cyan);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 20px 0;
}

.about-flex {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 30px 0 80px 0;
  font-size: 0.8rem;
}

svg path {
  fill: var(--dark-moderate-cyan);
}

.social-icons {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.social-icons svg {
  cursor: pointer;
}

.social-icons svg path {
  transform: scale(0.8);
  transition: 0.5s;
}

.attribution {
  font-size: 11px;
  text-align: center;
  background-color: var(--footer);
}

.attribution a {
  color: var(--dark-moderate-cyan);
}

@media (min-width: 1000px) {
  /*HEADER SECTION*/
  header {
    background-image: url("./images/desktop/image-header.jpg");
    height: 775px;
  }

  nav {
    display: flex;
    align-items: center;
    padding: 10px 50px 0 50px;
  }

  nav img {
    width: 13%;
  }
  
  .menu-icon {
    display: none;
  }
  
    .menu:after {
    content: none;
  }

  .menu {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    position: relative;
    top: 0;
    right: 0;
    width: auto;
    height: auto;
    color: white;
  }
  .menu li {
    margin-left: 50px;
    font-size: 0.8rem;
  }

  .menu li:last-of-type {
    background-color: var(--white);
    font-size: 0.8rem;
    color: black;
    transition: 0.5s;
  }

  .menu li:last-of-type:hover {
    opacity: 0.6;
  }

  .header-title {
    letter-spacing: 15px;
    margin: 75px 0 100px 0;
  }
  .arrow-image {
    width: 40px;
  }

  /* TRANSFORM SECTION */
  .section-transform {
    display: flex;
    flex-direction: row;
  }

  .section-flex {
    box-sizing: border-box;
    width: 50%;
    display: flex;
    align-items: flex-start;
    text-align: left;
    padding: 5% 9%;
  }

  .text-align {
    text-align: left;
  }

  .bg {
    width: 50%;
    min-height: 550px;
    background-size: cover;
  }

  .egg-bg {
    background-image: url("./images/desktop/image-transform.jpg");
  }

  .section-transform h2,
  .section-stand-out h2 {
    margin: 0 0 30px 0;
    font-weight: 900;
    font-size: 2rem;
    padding: 0 50px 0 0;
  }

  .section-transform p,
  .section-stand-out p {
    padding: 0;
    line-height: 1.8;
  }
  .section-transform span,
  .section-stand-out span {
    margin: 50px 0 0 0;
    text-transform: uppercase;
    font-size: 0.8rem;
  }
  .section-transform span:hover,
  .section-stand-out span:hover {
    cursor: pointer;
  }

  .section-transform span::after {
    background-color: var(--yellow);
  }

  .section-stand-out span::after {
    background-color: var(--soft-red);
  }

  .section-transform span:hover::after {
    background-color: var(--yellow);
    opacity: 0.7;
  }

  .section-stand-out span:hover::after {
    background-color: var(--soft-red);
    opacity: 0.7;
  }

  /*SECTION STAND OUT*/

  .section-stand-out {
    display: flex;
    flex-direction: row;
  }

  .cup-bg {
    background-image: url("./images/desktop/image-stand-out.jpg");
  }

  /*DESIGN AND PHOTOGRAPHY SECTIONS*/

  .graphic-design-photography {
    display: flex;
  }

  .design-photog-section {
    box-sizing: border-box;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    padding-bottom: 70px;
  }

  .graphic-design-photography h3 {
    font-size: 1.7rem;
    font-weight: 900;
  }

  .cherry-bg {
    background-image: url("./images/desktop/image-graphic-design.jpg");
  }

  .orange-bg {
    background-image: url("./images/desktop/image-photography.jpg");
  }

  .graphic-design-photography p {
    margin: 30px 0 0 0;
    padding: 0 150px 0 150px;
    font-size: 1rem;
    text-align: center;
    line-height: 1.5;
  }
  /*TESTIMONIALS SECTION*/
  .testimonials {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
  }
  .testimonials-header {
    color: var(--grayish-blue);
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 1.2rem;
    text-align: center;
    margin: 150px 0 100px 0;
  }

  .testimonial {
    margin-bottom: 50px;
    width: 27%;
  }

  .testimonials img {
    border-radius: 50%;
    width: 80px;
  }

  .testimonial p {
    color: var(--very-dark-grayish-blue);
    font-size: 1rem;
    padding: 0 20px;
    margin: 50px 0 60px 0;
    text-align: center;
    line-height: 1.5;
  }

  .testimonials h5 {
    font-weight: 900;
    font-size: 1rem;
  }

  .testimonials h6 {
    margin-top: 10px;
    font-size: 1rem;
  }

  /*GALLERY*/
  .gallery {
    height: 440px;
    width: 25%;
    background-position: center;
    background-size: cover;
  }

  .gallery-section {
    display: flex;
  }

  .bottles-bg {
    background-image: url("./images/desktop/image-gallery-milkbottles.jpg");
  }

  .orange-plate-bg {
    background-image: url("./images/desktop/image-gallery-orange.jpg");
  }

  .cone-bg {
    background-image: url("./images/desktop/image-gallery-cone.jpg");
  }

  .sugar-cubes-bg {
    background-image: url("./images/desktop/image-gallery-sugarcubes.jpg");
  }

  /*ABOUT SECTION*/

  .about-section {
    padding: 100px 0 20px 0;
  }

  .about-section svg {
    transform: scale(1.8);
  }

  .about-flex {
    justify-content: center;
  }

  .about-flex li {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 0 20px;
    font-size: 1rem;
    transition: 0.5s;
  }

  .about-flex li:hover {
    color: var(--white);
  }

  .social-icons {
    width: 15%;
  }

  .social-icons svg path:hover {
    fill: var(--white);
  }

  .attribution {
    padding-top: 50px;
  }
}
